* {
	transition: all 150ms ease;
}
/* var */
:root {
    --main-color: #1D6154;
	--secondary-color: #B1663C;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
*,
*::before,
*::after {
  /* box-sizing: border-box; */
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css **/




body {
	font-family: 'Work Sans' ;
	font-size: 14px;

	display: flex;
    flex-direction: column;
	justify-content: space-between;
	min-height: calc(100vh);
}
main {
	max-width: 1140px;
	margin:auto;
}

/** Banner **/
.banner {
	background-color: black;
	color: white;
	padding: 20px 0;
	font-size: 16px;
	text-align: center;

}
.banner > * {
	color: white;
}

/** header **/
header {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	padding: 0 150px;
}
header a {
	color: inherit;
	text-decoration: inherit;
}

/** section **/
section {
	margin: 50px 0
}
section .section-title {
	display: flex;
    margin-bottom: 1em;
	text-align: center;
    align-items: center;
    justify-content: center;
	gap: 30px;
}
section .section-title a {
	color: black;
	font-size: 16px;
	text-decoration: none;
}

/** Typo **/
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--secondary-color);
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	color: var(--secondary-color);
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color)
}
p, span, label {
	color: #3D3D3D;
}
i {
	pointer-events: none;
	color: black;
}



/** Nav **/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li:hover {
	color: #B1663C;
}



/** Intro **/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}



/** gallery**/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
	height: calc(100% - 14px);
	object-fit: cover;
}
.gallery img:hover {
	opacity: 0.5;
}

/** Form section **/
form > input,  form > select, form > textarea, button, input[type="submit"] {
	min-height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}

form label {
	margin: 2em 0 1em 0;
	font-weight: bolder;
}

form input, form select, form textarea {
	padding: 0 16px;
}

*:focus-visible {
	outline: thin solid #00000050;
}

input[type="submit"], button {
	font-family: 'Syne';
	font-weight: 700;

	color: white;
	background-color: var(--main-color);

	border-radius: 60px;

	margin : 2em auto ;
	padding: 0 40px;
	text-align: center;	
}
input[type="submit"] > *, button > * {
	pointer-events: none;
}
input[type="submit"]:hover, button:hover {
	background-color: #0E2F28;
	cursor: pointer;
}

.section-form {
	width: 50vw;
	margin: auto;
}
.section-form > * {
	text-align: center;
}
.section-form a {
	text-align: center;
	font-weight: bolder;
	color: #3D3D3D;
}
.section-form h2{
	margin-bottom: 20px;
}
.section-form form, form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

select option:checked { 
	display:none; 
}
form select option {
	min-height: 42px;
	font-size: 1.2rem;
	color: #3D3D3D;
}



form input[type="file"] {
	position: absolute;
	height: 100%; width: 100%;
	top : 0; left: 0;
	padding: 0;
	z-index: -1;
	/* visibility: hidden; */
}
form .form-file-label {
	background-color: #E8F1F6;
	height: 170px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	padding: 20px;
	gap: 7px;
	cursor: pointer;

	position: relative;
}
form .form-file-label > * {
	pointer-events: none;
}
form .form-file-label button {
	background-color: #CBD6DC;
	color: #306685;
}
form .form-file-label .form-file-preview {
	position: absolute;
	top: 0;
	height: 100%; width: 100%;
    object-fit: contain;
    backdrop-filter: blur(4px);
}
form .form-file-label img {
	height: 76px;
}
form .form-file-label span {
	font-weight: 400;
	font-size: 10px;
}

[role="alert"] {
	color: red;
}
.form-file-label[role="alert"] {
	outline: thin solid red;
}
.form-file-label[role="alert"] > span {
	color: red;
	font-weight: bolder;
}
[type="submit"][role="alert"] {
	cursor: no-drop !important;
	opacity: 0.5;
}

/** Footer **/
footer {
	margin-top: 2rem;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
	background-color: white;
}

/** Filters **/
#portfolio ul {
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 10px;

	margin: 3rem 0;
	font-family: 'Syne';
	font-weight: 700;
	line-height: 19px;
	color: var(--main-color);
}
#portfolio li {
	outline: thin solid var(--main-color);
	border-radius: 5rem;
	padding: 10px 20px;
	color: var(--main-color);
}
#portfolio li:hover {
	outline: medium solid var(--main-color);
	color: var(--main-color);
	cursor: pointer;
}
#portfolio li.active {
	background-color: var(--main-color);
	color: white;
}

/** Dialog **/
dialog {
	border-radius: 10px;
	border: 0;
	animation: fadeOut 150ms ease-in-out 1;
	transition-behavior: allow-discrete;
}
dialog[open] {
    animation: fadeIn 150ms ease-in-out 1;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
	transition: background-color 150ms;

}
dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
	0%{ display: none; opacity: 0; transform: translateY(-10px); }
	100%{ display: inherit; opacity: 1; transform: unset; }
}
@keyframes fadeOut {
	0%{ display: inherit; opacity: 1; transform: unset;	}
	100% { opacity: 0; transform: translateY(-10px); visibility: hidden; display: none;	}

}

dialog > article {
	display: flex;
	flex-direction: column;
    align-items: center;
	gap: 30px;
	padding: 50px 100px;
	max-width: 630px;
}
dialog > article form {
	width: 630px;
}

.button-absolute {
	position: absolute;
	top: 0; right: 0;
	margin: 40px;
	padding: 0;
	border-radius: 2px;

	background-color: transparent;
	box-shadow: none;
	max-width: 24px; max-height: 24px;
	min-width: 24px; min-height: 24px;

	display: flex;
    align-items: center;
    justify-content: center;
}
.button-absolute:hover {
	background-color: initial;
	opacity: 0.5;
}
.button-absolute[aria-label="back"] {
	top: 0; left: 0;
}
.button-absolute[name="trash"] {
	margin: 6px;
	color: white;
	background-color: black;
	max-height: 17px; max-width: 17px;
	min-height: 17px; min-width: 17px;
}

dialog > article input[type="submit"], dialog > article button {
	margin: 0 auto;
}
dialog > article > form input[type="submit"] {
	min-width: 50%;
}
dialog > article h3 {
	font-size: 26px;
	font-weight: 400;
}
dialog > article hr {
	border-top: thin solid #B3B3B3;
	width: 100%;
}

dialog .modal-gallery {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	gap: 10px;
}
dialog .modal-gallery figure {
	position: relative;
}
dialog .modal-gallery img {
	width: 100%;
}

dialog .modal-gallery i {
	color: white;
	font-size: 11px;
}



.d-none {
	display: none !important;
}
