/* var */
* {
	color: #3D3D3D;
}
:root {
    --main-color: #1D6154;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css **/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;

	display: flex;
    flex-direction: column;
	justify-content: space-between;
	min-height: calc(100vh);
}
main {
	max-width: 1140px;
	margin:auto;
}

/** Banner **/
.banner {
	background-color: black;
	color: white;
	padding: 20px 0;
	font-size: 16px;
	text-align: center;

}
.banner > * {
	color: white;
}

/** header **/
header {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	padding: 0 150px;
}
header a {
	color: inherit;
	text-decoration: inherit;
}

/** section **/
section {
	margin: 50px 0
}
section .section-title {
	display: flex;
    margin-bottom: 1em;
	text-align: center;
    align-items: center;
    justify-content: center;
	gap: 30px;
}
section .section-title a, section .section-title a > * {
	color: black;
	font-size: 16px;
	text-decoration: none;
}

/** Typo **/
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color)
}


/** Nav **/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	color: black;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li:hover {
	color: #B1663C;
}

/** Intro **/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}

/** gallery**/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;

}
/** Form section **/
.section-form {
	width: 50vw;
	margin: auto;
}
.section-form > * {
	text-align: center;
}
.section-form a {
	text-align: center;
	font-weight: bolder;
}
.section-form h2{
	margin-bottom: 20px;
}
.section-form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
.section-form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.section-form label {
	margin: 2em 0 1em 0;
	font-weight: bolder;
}
.section-form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--main-color);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
input[type="submit"]:hover {
	background-color: #0E2F28;
	cursor: pointer;
}

[role="alert"] {
	color: red;
}

/** Footer **/
footer {
	margin-top: 2rem;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
	background-color: white;
	color: black;
}

/** Filters **/
#portfolio ul {
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 10px;

	margin: 3rem 0;
	font-family: 'Syne';
	font-weight: 700;
	line-height: 19px;
	color: var(--main-color);
}
#portfolio li {
	border: thin solid var(--main-color);
	border-radius: 5rem;
	padding: 10px 20px;
}
#portfolio li:hover {
	outline: medium solid var(--main-color);
	color: var(--main-color);
	cursor: pointer;
}
#portfolio li.active {
	background-color: var(--main-color);
	color: white;
}


.d-none {
	display: none !important;
}
